<title>RTCBoard</title>
<link rel="icon" href="/img/logo.jpg">
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" name="viewport"/>
<link rel="stylesheet" href="/css/speech_bubble.css"/>
<link rel="stylesheet" href="/css/style.css"/>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script charset="utf-8" src="/js/script.js"></script>
