<!doctype html>
<html>
<head>
  <title>Login_Page</title>
  <link rel="icon" href="/img/logo.jpg">
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="./css/login_style.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <!-- <link rel = "icon" href=""> -->
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script charset="utf-8" src="./js/login_script.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
      <%- include ('./body/login_body') %>
</body>
</html>
