<div class="err-handling-block">
  <div class="err-handling-wrapper">
    <div class="err-handling-textbox">
      <p>there is no page in here!<br>after a while, go to the main page</p>
    </div>
  </div>
</div>

<script>
setTimeout(()=>{
  location.href="/";
},3000);
</script>
