<!-- board title block -->
<div class="board-title-block">
  <div class="board-title-name">
    <a id="board-title-name" href="/board/<%=board_title%>">
      <%= board_title %>
    </a>
  </div>
</div>
