<div class="comment-block">
  <div class="comment-nicknameBlock">
    <div class="comment-nicknameBox">
      <p>` + id + `</p>
    </div>
  </div>
  <div class="comment-inputtextBlock">
    <div class="comment-inputtextBox">
      <hgroup class="speech-bubble" role="textbox" maxlength="999" spellcheck="false">
        <p>` + text + `</p>
      </hgroup>
    </div>
  </div>
  <div class="comment-dateBlock">
    <div class="comment-dateBox">
      <p>` + date + `</p>
    </div>
  </div>
</div>
