/* site size : width = 1300px, height = auto */
/*basic background color: #24292E */
body {
  background:#24292E;
  max-width:1300px;
  margin:0 auto;
}

ul {
  list-style:none;
  margin:auto;
  padding-inline-start:0px;
}
li {
  width:100%;
}
p {
  margin:auto;
}
a {
  text-decoration:none;
}
button {
  cursor:pointer;
  text-decoration:none;
  outline:none;
  background-color:#ff3142;
  border:0px;
  transition: background-color 0.15s;
}
button:hover {
  background-color:#9c0000;
}
strong {
  color:ORANGE;
}

/* common */
.bold-text {
  font-weight:bold;
}

/*nav bar block*/
.nav-block {
}
.nav-bar-background {
  position:absolute;
  background:orange;
  width:100%;
  left:0;
  z-index:-1;
  height:62px;
}
.nav-main-block {
  overflow:hidden;
}
.nav-main-block > a {
  float:left;
}
.nav-login-block {
  float:right;
  display:block;
  height:100px;
}
.nav-login-block > button{
  float:right;
  margin:16px 16px 0 0;
  padding:8px 16px 8px 16px;
  font-size:16px;
}
.nav-login-block > p {
  float:right;
  margin:16px 16px 0 0;
  font-size:16px;
  color:white;
}
.nav-bar {
  overflow:hidden;
  z-index:1;
}
.nav-bar-item {
  float:left;
  overflow:hidden;
}
.nav-bar-item h3 a {
  padding-top:100%;
  padding-bottom:100%;
  padding-left:12px;
  padding-right:12px;
  color:black;
}
.nav-bar-item:hover {
  background:white;
}

/*home-board-list-block */
.home-board-list-block {
  overflow:hidden;
  float:left;
  width:900px;
  padding:8px 4px 0 4px;
  background-color:#2e3338;
  border-left:1px solid white;
  border-right:1px solid white;
}
.home-board-list-box {
  overflow:hidden;
  float:left;
  margin:4px 4px 4px 4px;
  border:1px solid white;
  width:440px;
  height:300px;
}
.home-board-list-boardname {
  margin:8px 8px 4px 12px;
  border-bottom:1px solid white;
  font-size:36px;
  color:white;
  display:block;
}
.home-board-list-postname {
  margin:8px 0 8px 12px;
  font-size:18px;
  color:white;
  display:block;
}
.home-body-postname:hover {
  text- decoration:underline;
}

/* board title block */
.board-title-block {
  overflow:hidden;
  margin-top:32px;
  margin-bottom:20px;
}
.board-title-name {
  border:3px solid white;
  padding:5px;
}
.board-title-name a {
  color:white;
  font-size:25px;
  margin-left:10px;
}

/* board list block */
.board-list-block {
  overflow:hidden;
  margin-top:32px;
  padding-right:2px;
}
.board-list-block > ul {
}
.board-list-contents {
  overflow:hidden;
  border:1px solid white;
  padding:8px 0 8px 0;
  color:white;
}
.board-list-boardname {
  float:left;
  margin:0 64px 0 12px;
  font-size:26px;
}
.board-list-boardname a{
  color:white;
}
.board-list-postcnt {
  float:left;
  font-size:12px;
  margin-top:10px;
}

/*post block*/
.post-block {
  font-size:15px;
  color:white;
  overflow:hidden;
  margin-top:3px;
  border-left:3px solid;
  border-right:3px solid;
}
.post-title-block {
  overflow:hidden;
  border-top:3px solid;
  border-bottom:3px solid;
}
.post-title-titlename {
  float:left;
  margin-top:13px;
  margin-left:5px;
}
.post-title-subdatablock {
  float:right;
  border-left:1px solid;
  padding-left:30px;
  margin-top:6px;
}
.post-title-authordate {
  float:right;
}
.post-title-authordate > p {
  margin:auto;
  margin-right:7px;
}
.post-title-subdata {
  clear:right;
  float:right;
}
.post-title-subdata > p {
  margin:auto;
  margin-right:7px;
}
.post-contents-block {
  margin-top:12px;
  padding-bottom:75px;
  border-bottom:3px solid;
}
.post-contents-block > p {
  margin-left:5px;
}

/*comment block*/
.cmt-start-block {
  width:100%;
  overflow:hidden;
  color:white;
  border-bottom:1px solid;
  margin-top:5px;
  padding-bottom:5px;
}
.cmt-start-text {
  float:left;
  margin-left:5px;
}
.cmt-count-text {
  float:right;
  margin-right:5px;
}
.cmt_list {
  padding-bottom:32px;
  border-bottom:1px solid white;
}
.comment-block {
  width:100%;
  font-size:15px;
  overflow:hidden;
  margin-top:3px;
}
.comment-nicknameBlock {
  float:left;
  margin-top:8px;
  width:25%;
}
.comment-nicknameBox {
  width:100%;
}
.comment-nicknameBox > p {
  text-align:center;
  border-radius: .4em;
  background:orange;
  padding-top:5px;
  padding-bottom:5px;
  margin-left:10%;
  margin-right:10%;
  margin-top:0px;
}

.comment-inputtextBlock {
  float:left;
  width:50%;
}

.comment-inputtextBox {
  display:inline-block;
}

.comment-dateBlock {
  float:left;
  margin-top:8px;
  width:15%;
}
.comment-dateBox {
  width:100%;
}
.comment-dateBox > p {
  text-align:center;
  background:orange;
  border-radius: .4em;
  padding-top:5px;
  padding-bottom:5px;
  margin-left:5%;
  margin-right:5%;
  margin-top:0px;
}
.comment-deleteBlock {
  float:left;
  margin-top:12px;
  width:10%;
}
.comment-deleteBox {
  width:100%;
  text-align:center;
}
.comment-deleteBox > button {
  padding:0 auto;
}

/*comment input block*/

.cmt-input-block {
  width:100%;
  font-size:15px;
  overflow:hidden;
  margin-top:12px;
  padding-top:15px;
}

.cmt-input-textBlock {
  float:left;
  width:50%;
}
.cmt-input-textBox {
  width:100%;
}
.cmt-input-textarea {
  width:100%;
  resize:vertical;
  color:white;
  min-height:150px;
  background:#2e3338;
}
.cmt-input-postButtonBox {
  width:100%;
  overflow:hidden;
}
.cmt-input-postButton {
  float:right;
  padding:12px;
  margin-right:25px;
  margin-top:5px;
  font-size:20px;
}

/* post down block */
.post-down-block {
  margin-top: 30px;
  overflow:hidden;
}
.post-down-deletebtn {
  float:right;
  font-size:20px;
  padding:7px 12px;
  margin-right:16px;
}
.post-down-modifybtn {
  float:right;
  font-size:20px;
  padding:7px 24px;
  margin-right:16px;
}

/* post list block */

.post-list-block {
  margin-top:0 auto;
}
.post-list-table {
  color:white;
  border:1px solid white;
}
.post-list-li {
  border-top:1px solid white;
  padding-top:7px;
  padding-bottom:7px;
  overflow:hidden;
}
.post-list-li span {
  margin-left:7px;
  display:block;
  float:left;
}
.post-list-li span a {
  color:white;
}
.post-list-linumber {
  width:80px;
  text-align:center;
  border-right:1px solid white;
}
.post-list-lisubject {
  width:800px;
  border-right:1px solid white;
}
.post-list-lisubject a:hover{
  text-decoration:underline;
}
.post-list-lisubject a:visited {
  color:#646464;
}
.post-list-liauthor {
  width:130px;
  border-right:1px solid white;
}
.post-list-lidate {
  width:100px;
  border-right:1px solid white;
}
.post-list-liseecount {
  width:70px;
  border-right:1px solid white;
}
.post-list-ligoodcount {
  width:60px;
}

/* board down block */

.board-down-block {
  margin-top:12px;
  overflow:hidden;
}
.board-down-newpost {
  margin-right:12px;
  overflow:hidden;
}
.board-down-newpostbtn {
  float:right;
  font-size:20px;
  padding:7px 24px;
}
.board-down-pagelist {
  margin-top:16px;
  text-align:center;
}
.board-down-pagelist a {
  color:white;
  background-color:black;
  padding:0px 16px;
}
.board-down-pagelist a:hover {
  color:white;
  background-color:#ff3142;
}


/* board write block */

.board-write-block {
  margin-top:12px;
  overflow:hidden;
}
.board-write-titleblock {
  overflow:hidden;
  padding:1px 0px;
}
.board-write-titleblock p {
  float:left;
  color:white;
  font-size:24px;
  text-align:center;
  width:120px;
}
.board-write-title {
  font-size:16px;
  width:480px;
  padding:8px 0px;
  color:white;

  background:#2e3338;
}
.board-write-contentsblock {
  overflow:hidden;
  margin-top:32px;
  padding-top:1px;
}
.board-write-contentsblock p{
  float:left;
  color:white;
  font-size:24px;
  text-align:center;
  width:120px;
}
.board-write-contents {
  resize:none;
  font-size:16px;
  color:white;
  width:1170px;
  height:480px;
  background:#2e3338;
}
.board-write-buttonblock {
  margin-top:16px;
  overflow:hidden;
}
.board-write-buttonblock button {
  float:right;
  width:120px;
  height:40px;
  font-size:24px;
}
.board-write-cancel {
  margin-right:32px;
}
.board-write-confirm {
  margin-right:16px;
}

/* err-handling-block */

.err-handling-block {
  overflow:hidden;
}
.err-handling-wrapper {
  display:block;
  margin:50px auto 0 auto;
  height:320px;
  width:480px;
  background:gray;
}
.err-handling-textbox {
  text-align:center;
}
.err-handling-textbox p {
  padding-top:80px;
  font-size:24px;
  line-height:60px;
}
